/* CSS Document */


.about-row-penal {
	border:1px solid #000;
}

.about-penal-div img{
	margin: 10% 20%;
	width: 50%;
	height: 12vw;
}
.about-penal-div h3{
margin-left: 15%;
}
.about-penal-divsm {
	list-style-type: none;
	color: var(--text-black);
	text-align: justify;
	margin: 15%;
	font-size: 1.2vw;
}


.main-heading {
	width: 22%;
	border-radius: 30%;
	border-bottom: 5px double #000;
	font-size: 3vw;
	font-weight: bolder;
	color: var(--text-black);
}

.a-heading {
	margin-top: 10%;
	font-size: 2.2vw;
	font: bold;
	color: var(--text-black);
}

.pg {
	font-size: 1.2vw;
	line-height: 2vw;
	text-align: justify;
	color: var(--text-black);
}
.pg:hover{
	color: var(--hover-color);
	cursor: pointer;
}
.container-fluid {
	background-color: var(--bg-color);
}

.footer-div {
	width: 100%;
    background-color: black;
    vertical-align: bottom;
    color: var(--text-white);
    line-height: 60px;
    text-align: center;
}
