/* CSS Document */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html, body {
	background-color: var(--bg-color) !important;
}

.about-row-penal {
	border:1px solid #000;
}

.about-penal-div img{
	margin: 10% 20%;
	width: 50%;
	height: 12vw;
}
.about-penal-div h3{
margin-left: 15%;
}
.about-penal-divsm {
	list-style-type: none;
	color: var(--text-black);
	text-align: justify;
	margin: 15%;
	font-size: 1.2vw;
}


.main-heading {
	margin-top: 1%;
	width: 22%;
	border-radius: 30%;
	border-bottom: 5px double #fff;
	font-size: 3vw;
	font-weight: bolder;
	color: var(--text-black);
}

.a-heading {
	margin-top: 10%;
	font-size: 1.8vw;
	font: bolder;
	color: var(--text-black);
	border-bottom: 2px double #fff;
}

.pg {
	font-size: 1.2vw;
	line-height: 2vw;
	text-align: justify;
	color: var(--text-black);
/*	border: 1px solid #fff;*/
}
.pg:hover{
	background-color: var(--hover-color);
/*	color: var(--hover-color);*/
	cursor: pointer;
}
.container-fluid {
	background-color: var(--bg-color);
	width: 100%;
	height: auto;
}

.footer-div {
	width: 100%;
    background-color: black;
    vertical-align: bottom;
    color: var(--text-white);
    line-height: 60px;
    text-align: center;
}

.about-us {
	
}
.parallax {
    height: 25vw;
    background-image: url("../home-images/3d-bars-wallpapers-55199-5160651.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-white);
    display: flex;
    align-items: center;
}
.pg-img {
	border-radius: 50%;
	float: left;	
}
.pg-img:hover{
	cursor: pointer;
	opacity: 0.7;
}
