
.heading {
	position: absolute;
	font-size: 5vw;
	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	color: #000;
	top: 8vw;
	left: 31.5%;
}

.sub-text {
	display: block;
	position: absolute;
	font-size: 2vw;
	text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	color: #000;
	top: 16vw;
	left: 50%;
	transform: translateX(-50%);
}
.top-div {
	background-color: #a5a2a2;
}

.top-img {
	opacity: 1;
}
